<div id="main-state">
	<app-bar></app-bar>
	
	<!-- Prototype of an-webview component -->
	<an-webview
		source="{{ctrl.injectUrl}}"
		autosize="on"
		script="{{ctrl.injectScript}}">
	</an-webview>

	<!-- Demo form to Inject a script into an-webview -->
	<form id="inject-form" name="ctrl.injectForm">
		<input type="text" form="inject-form"
			ng-model="ctrl.injectUrl"
			ng-init="ctrl.injectUrl='http://www.apple.com/'">
		<textarea form="inject-form" cols="30" rows="20" ng-model="ctrl.injectScript"></textarea>
		<button id="injectButton" ng-click="ctrl.injectAScript()">Inject script!!</button>
	</form>
	
    <a id="about-btn" ui-sref="about"><button>About</button></a>

</div>