#main-state{
	background-color: white;

	width: 100vw;
	height: 100vh;

	display: inline-block;

	h1 {
		color: #3333FF;
	}

	#about-btn {
		position: absolute;
    	bottom: 10px;
	}

	#inject-form {
		position: absolute;
		top: 80px;
		right: 0;

		* {
			position: relative;
    		display: block;
    		margin-bottom: 10px;
		}
	}
}