#main-state{
	background-color: #DDFFBB;

	width: 100vw;
	height: 100vh;

	display: inline-block;

	padding: 15px;

	h1 {
		color: #3333FF;
	}

	#about-btn {
		position: absolute;
    	bottom: 10px;
	}
}