#property-view {

  #inject-form {
    position: relative;

    * {
      position: relative;
      display: block;
      margin-left: 30px;
      margin-bottom: 10px;
    }

    button {
      float: left;
    }


  }
  .header {
    background-color: $lightest-grey;
    border-bottom: 1px solid $light-grey;
    padding: 10px;
    clear: left;

    h4{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}