#property-view {

  #inject-form {
    position: relative;

    * {
      position: relative;
      display: block;
      margin-left: 30px;
      margin-bottom: 10px;
    }
  }
  .header {
    background-color: $lightest-grey;
    border-bottom: 1px solid $light-grey;
    padding: 10px;
  }
  
}