<h1 ui-sref="about" class="brand-text">{{ctrl.title}}</h1>
<ul class="app-bar-items">
  <li><i class="fa button fa-cog" ng-click="ctrl.toggleSettings()"></i></li>
  <li><i class="fa button fa-file-text"></i></li>
  <li><i class="fa button fa-pencil-square"></i></li>
</ul>

<ul class="app-bar-items right">
  <li><i class="fa button fa-share" ng-click="ctrl.rotateStates(['main.default', 'main.swapped'])"></i></li>
  <li>
    <i
      class="fa button " ng-click="ctrl.toggleChildState('.file')"
      ng-class="{'fa-file-text': !ctrl.hasState('.file'), 'fa-pencil-square': ctrl.hasState('.file')}">
  </i>
</li>
</ul>