#timeline-view {
  
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  >.header{
    background-color: $lightest-grey;
    border-bottom: 1px solid $dark-grey;
    
    .time{
      float: left;
      width: 200px;
      text-align: center;
      padding: 10px;
      background-color: $light-grey;
      border-right: 1px solid $dark-grey;
    }
    #time-scale{
      float: left;
      height: 36px;
      width: calc(100% - 221px);
      z-index: -1;

      .time-scale-part{
        position: relative;
        display: inline-block;
        height: 36px;

        .time-scale-point{
          position: absolute;
          width: 2px;
          height: 10px;
          bottom: 0;
          background-color: $dark-grey;
        }
      }
    }
  }
  >.content{
    overflow: auto;
    >.elementList{
      position: relative;
        float: left;
      ul{
        display: inline-block;
        width: 220px;
        margin: 0;
        padding: 0;
        list-style: none;
        border-right: 1px solid $dark-grey;
        li{
          display: block;
          text-align: center;
          border-bottom: 1px solid $normal-grey;
          padding: 10px;
          background-color: $lightest-grey;
          &.active{
            background-color: $light-green;
          }
        }
      }
    }
    >.timeline{
      position: relative;
      float: left;
      width: calc(100% - 221px);
      ul{
        
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        li{
          
        }
      }
    }
  }
}