<div id="timeline-view">
  <div class="header">
    <div class="time">00:00:01</div>
  </div>
  <div class="content">
    <div class="elementList">
      <ul>
        <li class="element">Element1</li>
        <li class="element">Element2</li>
        <li class="element">Element3</li>
        <li class="element">Element3</li>
        <li class="element">Element3</li>
      </ul>
    </div>
    <div class="timeline">
      <ul>
        <li class="element">
          <timeline></timeline>
        </li>
        <li class="element">
          <timeline></timeline>
        </li>
        <li class="element">
          <timeline></timeline>
        </li>
        <li class="element">
          <timeline></timeline>
        </li>
        <li class="element">
          <timeline></timeline>
        </li>
      </ul>
    </div>
  </div>
</div>