<div id="timeline-view">
  <div class="header">
    <div class="time">00:00:01</div>
  </div>
  <div class="content">
    <div class="elementList">
      <ul>
        <li ng-repeat="el in ctrl.elements" class="element" ng-class="ctrl.isActiveElement(el);" ng-click="ctrl.setActiveElement(el);">
          {{el._name}}_{{el._class}}_{{el._id}}
        </li>
      </ul>
    </div>
    <div class="timeline">
      <ul>
        <li ng-repeat="el in ctrl.elements" class="element">
          <timeline></timeline>
        </li>
      </ul>
    </div>
  </div>
</div>