#main-view {
	background-color: white;

	width: 100vw;
	height: 100vh;
  
  display: flex;
  align-items: stretch;
  flex-direction: column;

  app-bar {
    align-self: flex-start;
  }

  #main-content {
    align-self: flex-end;
    width: 100%;
    height: 100%;
  }

  #top {
    width: 100%;
    height: 100%;
    display: flex;

  	#top-left {
      overflow: scroll;
    }

  	#top-right {
      overflow: scroll;
    }

  }

  #bottom {
    z-index: 10;
    width: 100%;
    height: 100%;
  }

}