<div id="file-view">
    <span>File View</span>

    <nav>
        <button id="open_local">Open local</button>
        <button id="choose_file">Choose File</button>
        <button id="current_tab">choose url</button>
        <input type="text" id="url">
    </nav>

    Path: <input type="text" id="file_path" readonly>
    <span>Size: <span id="file_size"></span> bytes</span>

    <output></output>
    <textarea></textarea>
    <br>
    <p><button id="save_file" disabled>Save As</button></p>

</div>