$app-bar-height: 50px;

/* Colors */

$app-bar-color: #DDFFBB;

/* std. chrome devtool colors*/

/* chrome gray */

$black: #000;

$darkest-grey: #222;
$dark-grey: #a3a3a3;
$normal-grey: #ccc;
$light-grey: #ddd;
$lightest-grey: #f3f3f3;

$normal-green: #1AC222;
$light-green: #89DE90;

$normal-red: #FF0000;
$light-red: #EDA29B;

$normal-blue: #3E82F7;
$light-blue: #99BBF5;

$white: #fff;